Repository lindy-labs/opus_contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cairo-0.x-format, cairo-1.x-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: trailing-whitespace
    exclude: ^contracts-1.0/
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: requirements-txt-fixer

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    args: [--line-length=120]

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    args: ["--per-file-ignores=tests/shrine/test_shrine.py:F405"]

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: local
  hooks:
  - id: cairo-0.x-format
    name: cairo-0.x-format
    language: system
    entry: cairo-format -i
    files: \.cairo$
    exclude: ^contracts-1.0/

  - id: cairo-1.x-format
    name: cairo-1.x-format
    language: system
    entry: make format
    files: \.cairo$
    exclude: ^contracts/

fix flaky filter
  tests/purger/test_purger.py
  tests/utils.py
Due: none

improve comment for filter
  tests/utils.py
Due: none

add set allocation function
  contracts/equalizer/allocator.cairo
  contracts/equalizer/interface.cairo
  contracts/equalizer/roles.cairo
  tests/equalizer/conftest.py
  tests/equalizer/constants.py
  tests/equalizer/test_allocator.py
  tests/equalizer/test_equalizer.py
  tests/roles.py
Due: cairo-0.x-format

dev(new-rates): interval storage vars & getters and setters
  contracts/shrine/roles.cairo
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

dev(new-rates): fixed compilation bugs
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

dev(new-rates): updated tests
  contracts/sentinel/sentinel.cairo
  tests/conftest.py
  tests/shrine/constants.py
  tests/shrine/test_shrine.py
  tests/utils.py
Due: cairo-0.x-format

feat: add killswitch for absorber (#233)
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  contracts/absorber/roles.cairo
  tests/absorber/test_absorber.py
  tests/purger/test_purger.py
  tests/roles.py
  tests/utils.py
Due: cairo-0.x-format

remove wad type
  contracts/equalizer/allocator.cairo
Due: cairo-0.x-format

feat: equalizer (#229)
  contracts/absorber/absorber.cairo
  contracts/equalizer/allocator.cairo
  contracts/equalizer/equalizer.cairo
  contracts/equalizer/interface.cairo
  contracts/equalizer/roles.cairo
  contracts/flashmint/flashmint.cairo
  contracts/shrine/interface.cairo
  contracts/shrine/roles.cairo
  contracts/shrine/shrine.cairo
  tests/absorber/test_absorber.py
  tests/conftest.py
  tests/equalizer/conftest.py
  tests/equalizer/constants.py
  tests/equalizer/test_allocator.py
  tests/equalizer/test_equalizer.py
  tests/flashmint/test_flashmint.py
  tests/roles.py
  tests/shrine/test_shrine.py
  tests/utils.py
Due: cairo-0.x-format

dev(new-rates): new compound function
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

dev(new-rates): deleting old interest rate functions
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

WIP reward
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  contracts/absorber/roles.cairo
  contracts/lib/types.cairo
  tests/roles.py
Due: cairo-0.x-format

WIP contracts
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  contracts/lib/types.cairo
Due: cairo-0.x-format

fix existing tests
  tests/absorber/test_absorber.py
Due: none

refactor existing tests
  tests/absorber/test_absorber.py
Due: none

rename duplicate blessing to reward; add reward setter
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  contracts/absorber/roles.cairo
  contracts/lib/types.cairo
  tests/absorber/test_absorber.py
  tests/roles.py
Due: cairo-0.x-format

dev(new-rates): update trove's in
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

add blesser; fix set reward
  contracts/absorber/absorber.cairo
  contracts/absorber/blesser.cairo
  contracts/absorber/roles.cairo
Due: cairo-0.x-format

setup; reoder
  tests/absorber/constants.py
  tests/absorber/test_absorber.py
  tests/conftest.py
Due: none

check zero address
  contracts/absorber/absorber.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

test(new-rates): new compound function in test suite
  contracts/shrine/shrine.cairo
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

WIP checkpoint
  contracts/absorber/absorber.cairo
  tests/absorber/constants.py
  tests/absorber/mock_blesser.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format, cairo-1.x-format

add gas estimates test
  tests/absorber/test_absorber.py
Due: none

fix tests; update mock blesser
  contracts/absorber/interface.cairo
  tests/absorber/mock_blesser.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format, cairo-1.x-format

defer rewards if no shares
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

tests WIP
  tests/absorber/test_absorber.py
Due: none

add reap test
  tests/absorber/test_absorber.py
Due: none

add remove test
  tests/absorber/test_absorber.py
Due: none

fix invoke ordering
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

add provide second epoch test
  tests/absorber/test_absorber.py
Due: none

add another test
  tests/absorber/test_absorber.py
Due: none

test(new-rates): fix compound function bugs in test suite
  tests/pytest.ini
  tests/shrine/test_shrine.py
Due: none

test(new-rates): updated test_charge tests and removed old interest rate helper functions
  tests/pytest.ini
  tests/shrine/test_shrine.py
Due: none

add multi users test
  tests/absorber/test_absorber.py
Due: none

fix test var names
  tests/absorber/test_absorber.py
Due: none

add another multi users test
  tests/absorber/test_absorber.py
Due: none

fix more tests
  tests/absorber/test_absorber.py
Due: none

improve comments; tweak providers percentage contributions
  tests/absorber/test_absorber.py
Due: none
