Repository lindy-labs/opus_contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cairo-0.x-format, cairo-1.x-format

cairo-0.x-format:
  name: cairo-0.x-format
  language: system
  entry: cairo-format -i

cairo-1.x-format:
  name: cairo-1.x-format
  language: system
  entry: make format

fix order of fetching rewards
  contracts/absorber/absorber.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

improve test comments
  tests/absorber/test_absorber.py
Due: none

fix reward tokens order
  contracts/absorber/absorber.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

dev(new-rates): bug fixes
  contracts/shrine/shrine.cairo
  tests/sentinel/test_sentinel.py
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

dev(new-rates): fixed failing test
  contracts/shrine/roles.cairo
  tests/sentinel/test_sentinel.py
Due: cairo-0.x-format

chore(new-rates): updated flake8 in CI to ignore E203 & W503
  .github/workflows/lint.yml
Due: none

modify rewards getter
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

clean up internal rewards getter
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

remove redundant assigns
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

clean up comments in contract
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

Revert "remove redundant assigns"
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

clean up booleans
  tests/absorber/test_absorber.py
Due: none

apply code review suggestions WIP
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

inline propagate errors wrapper
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

inline iteration over rewards
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

add pending rewards to preview
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  tests/absorber/mock_blesser.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format, cairo-1.x-format

dev(new-rates): update_rates function accepts an array of yangs to update
  contracts/shrine/shrine.cairo
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

dev(new-rates): single event emission of all rate updates
  contracts/shrine/shrine.cairo
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

dev(new-rates): moved `shrine_trove_last_rate_idx` storage var into trove struct
  contracts/lib/types.cairo
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

test(new-rates): updated event checks for `TroveUpdated`
  contracts/shrine/shrine.cairo
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

dev(new-rates): `get_trove_threshold_and_value_internal` no longer uses average prices
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

dev(new-rates): bug fix
  contracts/shrine/shrine.cairo
  tests/abbot/test_abbot.py
  tests/conftest.py
Due: cairo-0.x-format

change preview amts to arg in helper
  tests/absorber/test_absorber.py
Due: none

remove unused array; rename id to idx; clarify rewards idx
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

clarify comments
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
Due: cairo-0.x-format

standardize idx to id
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

dev(new-rates): implemented code review suggestions
  contracts/sentinel/sentinel.cairo
  contracts/shrine/roles.cairo
  contracts/shrine/shrine.cairo
  tests/conftest.py
  tests/roles.py
  tests/shrine/constants.py
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

test(new-rates): fixed failing tests
  tests/gate/rebasing_yang/test_gate.py
Due: none

dev(new-rates): code review suggestions
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

add shrine info getter
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

add test for shrine info getter
  tests/shrine/test_shrine.py
Due: none

refactor pending rewards getter
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

remove convert; add access control lib
  contracts-1.0/accesscontrol.cairo
  contracts-1.0/convert.cairo
  contracts-1.0/dummy_syscalls.cairo
  contracts-1.0/lib.cairo
  contracts-1.0/tests.cairo
  contracts-1.0/tests/test_convert.cairo
Due: cairo-1.x-format

add starknet-compile to Makefile
  Makefile
Due: none

update cairo 1 CI
  .github/workflows/cairo-1.0.yml
Due: none

drop stdout from starknet-compile
  Makefile
Due: none

update shrine interface
  contracts/shrine/interface.cairo
Due: cairo-0.x-format

add ltv to threshold check; update interface
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
Due: cairo-0.x-format

update tests; add test for ratio exceeding
  tests/absorber/constants.py
  tests/absorber/test_absorber.py
Due: none

Path conditions:
  cairo-0.x-format: any of: \.cairo$, but not: ^contracts-1.0/
  cairo-1.x-format: any of: \.cairo$, but not: ^contracts/
