Repository lindy-labs/opus_contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cairo-0.x-format, cairo-1.x-format

cairo-0.x-format:
  name: cairo-0.x-format
  language: system
  entry: cairo-format -i

cairo-1.x-format:
  name: cairo-1.x-format
  language: system
  entry: make format

add invoke event tests
  tests/absorber/test_absorber.py
Due: none

fetch active rewards only; increment blessings only if rewards are distributed
  contracts/absorber/absorber.cairo
  contracts/lib/types.cairo
Due: cairo-0.x-format

add skip inactive rewards test
  tests/absorber/test_absorber.py
Due: none

add skip inactive rewards test
  tests/absorber/mock_blesser.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format, cairo-1.x-format

wrap up iterative version
  contracts/absorber/absorber.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

reverting unused changes; add new stuff
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

update contracts WIP
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  contracts/lib/types.cairo
Due: cairo-0.x-format

various fixes WIP
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

fix tests WIP
  tests/absorber/test_absorber.py
Due: none

update provision in reap; refactor epoch read
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

fix reap test
  tests/absorber/test_absorber.py
Due: none

refactor provider reward cumulative update to standalone helper
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

tests WIP
  tests/absorber/test_absorber.py
Due: none

rename some functions; minor clean up
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

tests wip
  tests/absorber/test_absorber.py
Due: none

test(new-rates): bug fix
  .pre-commit-config.yaml
  contracts/shrine/shrine.cairo
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

test(new-rates): looser `assert_equalish` error margin for scenario 7
  contracts/shrine/shrine.cairo
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

many fixes; many tests
  contracts/absorber/absorber.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

dev(new-rates): fixed formatting
  contracts/sentinel/sentinel.cairo
Due: cairo-0.x-format

all tests passing checkpoint
  contracts/absorber/absorber.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

refactor; change wad to ufelt type for asset apportion struct
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  contracts/lib/types.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

rename functions; fix typing; improve comments
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  tests/absorber/test_absorber.py
Due: cairo-0.x-format

improve comment
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

refactor tests
  tests/absorber/test_absorber.py
Due: none

add todo
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

more refactoring of tests
  tests/absorber/test_absorber.py
Due: none

fix comments
  contracts/absorber/absorber.cairo
  contracts/lib/types.cairo
Due: cairo-0.x-format

fix typing; add comments
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  tests/absorber/mock_blesser.cairo
Due: cairo-0.x-format, cairo-1.x-format

refactor provider reward assertions to helper
  tests/absorber/test_absorber.py
Due: none

more refactoring
  tests/absorber/test_absorber.py
Due: none

clean up tests
  tests/absorber/test_absorber.py
Due: none

dev(new-rates): implemented code review suggestions
  contracts/shrine/roles.cairo
  contracts/shrine/shrine.cairo
  tests/roles.py
  tests/shrine/test_shrine.py
Due: cairo-0.x-format

test(new-rates): fixed typos
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

dev(new-rates): bug fix
  contracts/shrine/shrine.cairo
Due: cairo-0.x-format

improve variable names
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

refactor rewards count storage reads
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

refactor calculation of rewards
  contracts/absorber/absorber.cairo
Due: cairo-0.x-format

dev(new-rates): bug fix
  contracts/shrine/interface.cairo
  contracts/shrine/shrine.cairo
  tests/conftest.py
  tests/gate/rebasing_yang/test_gate.py
Due: cairo-0.x-format

test(new-rates): fixed test bugs
  tests/abbot/test_abbot.py
  tests/oracle/test_empiric.py
Due: none

Path conditions:
  cairo-0.x-format: any of: \.cairo$, but not: ^contracts-1.0/
  cairo-1.x-format: any of: \.cairo$, but not: ^contracts/
