Repository lindy-labs/opus_contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cairo-0.x-format, cairo-1.x-format

cairo-0.x-format:
  name: cairo-0.x-format
  language: system
  entry: cairo-format -i

cairo-1.x-format:
  name: cairo-1.x-format
  language: system
  entry: make format

remove test phony
  Makefile
Due: none

add kill
  contracts/absorber/absorber.cairo
  contracts/absorber/roles.cairo
Due: cairo-0.x-format

update tests
  tests/absorber/test_absorber.py
  tests/roles.py
Due: none

add kill test
  tests/absorber/test_absorber.py
Due: none

add set purger role to test suite
  tests/roles.py
Due: none

update interface
  contracts/absorber/interface.cairo
Due: cairo-0.x-format

fix: prevent first depositor of gate from front-running (#228)
  contracts/sentinel/sentinel.cairo
  contracts/shrine/interface.cairo
  contracts/shrine/shrine.cairo
  tests/abbot/test_abbot.py
  tests/conftest.py
  tests/gate/rebasing_yang/constants.py
  tests/gate/rebasing_yang/test_gate.py
  tests/oracle/test_empiric.py
  tests/sentinel/test_sentinel.py
  tests/shrine/test_shrine.py
  tests/utils.py
Due: cairo-0.x-format

fix LTV sanity check
  tests/purger/test_purger.py
Due: none

try removing flaky
  tests/purger/test_purger.py
Due: none

add comment
  tests/purger/test_purger.py
Due: none

fix: test for partial absorption with redistribution (#234)
  tests/purger/test_purger.py
Due: none

relax error margin
  tests/purger/test_purger.py
Due: none

remove flaky
  tests/purger/test_purger.py
Due: none

add cases; add assertions
  tests/purger/test_purger.py
Due: none

add debug print
  tests/purger/test_purger.py
Due: none

refine assertions
  tests/purger/test_purger.py
Due: none

add comments
  tests/purger/test_purger.py
Due: none

update error msg
  contracts-1.0/convert.cairo
Due: cairo-1.x-format

feat(purger): compensate absorb caller
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  contracts/purger/purger.cairo
  tests/absorber/test_absorber.py
  tests/purger/test_purger.py
Due: cairo-0.x-format

fix: relax error margin in tests for Purger (#235)
  tests/purger/test_purger.py
Due: none

add debug prints
  tests/purger/test_purger.py
Due: none

remove ltv assertion
  tests/purger/test_purger.py
Due: none

add tests for roles
  tests/absorber/test_absorber.py
Due: none

add debug print
  tests/absorber/test_absorber.py
Due: none

debug: switch order
  tests/absorber/test_absorber.py
Due: none

debug: relax test
  tests/absorber/test_absorber.py
Due: none

debug: add sanity assertion
  tests/absorber/test_absorber.py
Due: none

debug: improve skipped asset logic
  tests/absorber/test_absorber.py
Due: none

dev(purger): access control roles
  contracts/absorber/absorber.cairo
  tests/absorber/test_absorber.py
  tests/purger/test_purger.py
  tests/roles.py
Due: cairo-0.x-format

fix: adding missing file
  contracts/absorber/roles.cairo
Due: cairo-0.x-format

feat(purger): compensate absorb caller (#236)
  contracts/absorber/absorber.cairo
  contracts/absorber/interface.cairo
  contracts/absorber/roles.cairo
  contracts/purger/purger.cairo
  tests/absorber/test_absorber.py
  tests/purger/test_purger.py
  tests/roles.py
Due: cairo-0.x-format

fix: failing LTV assertion for partial absorb (#238)
  tests/purger/test_purger.py
Due: none

debug: improve parametrization
  tests/absorber/test_absorber.py
Due: none

fix list copy
  tests/absorber/test_absorber.py
Due: none

clean up debugging
  tests/absorber/test_absorber.py
Due: none

re-add flaky with condition
  tests/purger/test_purger.py
  tests/utils.py
Due: none

rename to equalizer
  contracts/equalizer/allocator.cairo
  contracts/equalizer/equalizer.cairo
  contracts/equalizer/interface.cairo
  contracts/equalizer/roles.cairo
  tests/equalizer/conftest.py
  tests/equalizer/constants.py
  tests/equalizer/test_allocator.py
  tests/equalizer/test_equalizer.py
  tests/roles.py
Due: cairo-0.x-format

rename to inject and eject
  contracts/abbot/abbot.cairo
  contracts/equalizer/equalizer.cairo
  contracts/flashmint/flashmint.cairo
  contracts/purger/purger.cairo
  contracts/shrine/interface.cairo
  contracts/shrine/roles.cairo
  contracts/shrine/shrine.cairo
  tests/conftest.py
  tests/equalizer/test_equalizer.py
  tests/purger/test_purger.py
  tests/roles.py
  tests/shrine/test_shrine.py
  tests/shrine/test_shrine_redistribution.py
  tests/utils.py
Due: cairo-0.x-format

apply code review suggestions
  contracts/equalizer/equalizer.cairo
Due: cairo-0.x-format

fix roles order
  tests/roles.py
Due: none

Path conditions:
  cairo-0.x-format: any of: \.cairo$, but not: ^contracts-1.0/
  cairo-1.x-format: any of: \.cairo$, but not: ^contracts/
